<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light" th:fragment="header">
    <div class="container-fluid">
        <div class="collapse navbar-collapse w-100" id="navbarNav">
            <ul class="navbar-nav w-100 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/producers}">Producers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link" th:href="@{/users}">Users</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto justify-content-end">
                <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a class="nav-link" href="/signing" th:href="@{/signing}">Sign in</a>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="#"  onclick="$('#form').submit();">Logout</a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>
