<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<div class="container">
    <div class="position-absolute top-50 start-50 translate-middle">
        <p class="text-center">
        <h1>Something went wrong! </h1>
        </p>
        <p class="text-center">
        <h2 class="text-center">Our Engineers are on it</h2>
        </p>
        <p class="text-center">
            <a href="/">Go Home</a>
        </p>
    </div>
</div>
</body>
</html>
